# files git does not track #
############################
*.spec

# folders git does not track #
##############################
build
dist

# virtual vnviornments #
########################
.venv
venv

# pycache #
sprtmods/__pycache__
