Screen {
    align: center middle;
}

SportsScreen {
    align: center middle;
}

.top {
    height: 6;
    width: 98;
}

#sportTitle {
    width: 98;
    text-align: center;
    margin: 1 0 0 0;
    background: #636363;
}

Pretty {
    content-align: center middle;
}

.bottom {
    width: 98;
}

.mrkdown {
    padding: 0 0 -1 0;

}
ListView {
    width: 30;
    height: auto;
    margin: 2 2;
}

ListItem {
    align: center middle;
    height: 3;
}

Label {
    padding: 0 2 0 0;
}
