Screen {
    align: center middle;
}

SportsScreen {
    align: center middle;
}

.top {
    height: 13;
    width: 80;
}

#sportTitle {
    width: 80;
    text-align: center;
    margin: 1 0 0 0;
}

Pretty {
    content-align: center middle;
}

.bottom {
    width: 80;
}

ListView {
    width: 30;
    height: auto;
    margin: 2 2;
}

ListItem {
    align: center middle;
    height: 3;
}

Label {
    padding: 0 2 0 0;
}
